---
import { render } from "astro:content";
import { getAllProjects } from "@/data/project";
import BaseLayout from "@/layouts/Base.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { collectionDateSort } from "@/utils/date"; // Importar la función de ordenación

export const getStaticPaths = (async () => {
  const projectEntries = await getAllProjects();
  return projectEntries.map((project) => ({
    params: { slug: project.id },
    props: { project },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { project } = Astro.props;
const { Content } = await render(project);
---

<BaseLayout meta={{
  title: project.data.title,
  description: project.data.description,
  ogImage: project.data.ogImage ?? project.data.coverImage?.src,
  articleDate: project.data.publishDate.toISOString(),
}}>
  <article class="grow break-words" data-pagefind-body>
    <h1>{project.data.title}</h1>
    {project.data.coverImage && <img src={project.data.coverImage.src} alt={project.data.title} />}
    <Content />
  </article>
</BaseLayout>