---
import BaseLayout from "@/layouts/Base.astro";
import { getAllProjects } from "@/data/project";
import type { CollectionEntry } from "astro:content";

const allProjects = await getAllProjects();
---

<BaseLayout meta={{ title: "Projects" }}>
  <section>
    <h1 class="title mb-6">Projects</h1>
    <div class="prose prose-sm prose-cactus max-w-none">
      {allProjects.length === 0 && <p>No projects found.</p>}
      <ul class="list-inside list-disc" role="list">
        {allProjects.map((project: CollectionEntry<"project">) => (
          <li>
            <a class="cactus-link" href={`/project/${project.id}/`}>
              {project.data.title}
            </a>
            {project.data.description && <span>: {project.data.description}</span>}
          </li>
        ))}
      </ul>
    </div>
  </section>
</BaseLayout>