---
import { getCollection } from "astro:content";
import Paginator from "@/components/Paginator.astro";
import MangaPreview from "@/components/manga/MangaPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";

import type { GetStaticPathsOptions } from "astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
	const allMangas = await getCollection("manga", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	});

	allMangas.sort(collectionDateSort);

	return paginate(allMangas, {
		pageSize: 10,
	});
}

const { page } = Astro.props;

const meta = {
	description: "All the manga I've read.",
	title: "Manga",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: "← Previous Page",
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: "Next Page →",
			url: page.url.next,
		},
	}),
};
---

<PageLayout meta={meta}>
	<div class="mb-6 flex items-center gap-3">
		<h1 class="title">Mangas</h1>
	</div>
	<div class="grid sm:grid-cols-[3fr_1fr] sm:gap-x-8 sm:gap-y-16">
		<div>
			<ul class="mt-5 mb-16 space-y-6 text-start">
				{page.data.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<MangaPreview post={p} />
					</li>
				))}
			</ul>
			<Paginator {...paginationProps} />
		</div>
	</div>
</PageLayout>